git cubeworld clone/Temp/UnityLockfile
git cubeworld clone/Temp/__Backupscenes/0.backup
git cubeworld clone/Temp/UnityTempFile-2d8a3a4c273e7094ead5a338dba1cb63
git cubeworld clone/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
